@model Nackowskis.ViewModels.AuctionDetailsViewModel

<div class="modal-dialog" style="max-height: 200px;">

    <!-- Modal content-->
    <div class="modal-content" style="background-color: burlywood;"
">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Details</h2>
        </div>
        <div class="modal-body" style="background-color: rgba(255,255,255,0.7)">
            <!-- Här kan man skriva Modalens innehåll-->
            <div class="container-fluid" align="center">
                <div class="row" style="padding-bottom: 10px;">
                    <div >
                        <h3>@Model.Auction.Titel</h3>
                    </div>
                    <div class="col-sm-6">

                        <label style="float: left;">Previous bids</label><br/><br/>
                        <br/><br/>
                        <div class="panel" style="overflow-y: auto; max-height: 80px; text-align: left !important; background-color: white;">
                            <dl>
                                @foreach (var item in Model.Bids)
                                {
                                    <dd style="float: left;">@item.Summa</dd><br/>

                                }
                            </dl>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">

                        @if (Model.Auction.SlutDatum > DateTime.Now)
                        {
                            <div class="form-group">
                                <label class="control-label">Highest Bid</label><br />
                                <p>@(Model.Bids.Count > 0 ? Model.Bids.Max(x => x.Summa).ToString() + ":-" : "No bids at this moment")</p>
                                <br />
                                @if (User.IsInRole("Admin"))
                                {
                                    <form asp-controller="Auction" asp-action="NewBid" method="post">
                                        <input class="form-control col-sm-2" asp-for="NewBid.Summa" type="number" min="@(Model.Bids.Count > 0 ? Model.Bids.Max(x => x.Summa) + 1 : Model.Auction.Utropspris)"
                                               value="@(Model.Bids.Count > 0 ? Model.Bids.Max(x => x.Summa) + 1 : Model.Auction.Utropspris)" />
                                        <span asp-validation-for="NewBid.Summa" class="text-danger"></span>
                                        <br/><br/>
                                        <input class="btn btn-success" type="submit" value="Bid" class="btn btn-default" />
                                        <input asp-for="NewBid.AuktionID" value="@Model.Auction.AuktionID" hidden />
                                        <input asp-for="NewBid.Budgivare" value="@User.Identity.Name" hidden />
                                    </form>
                                }
                            </div>

                        }
                        else
                        {
                            <label>Winning Bid</label>
                            <p>@(Model.Bids.Any() == false ? "No bids": $"{Model.Bids.Max(x => x.Summa).ToString()}:-")</p>
                            <br/><br/>
                        }
                        
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Deadline: @Model.Auction.SlutDatum.ToString()</label>
                    </div>
                </div>
                <hr/>
                <div div class="row" >
                    <div class="col-sm-12" style="overflow-y: auto; max-height: 120px; text-align: left; white-space: pre-wrap;">
                        <p>@Model.Auction.Beskrivning.Trim()</p>
                    </div>
                </div>
                <div class="row">
                    <form ></form>
                </div>
            </div>
            <!--Innehåll Slut-->
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>